.landing-page-container {
  background: #261d5c;
  position: relative;
  min-height: 100vh;

  & > div {
    position: sticky;
    top: 0;
    z-index: 2;

    &.scrolled {
      -webkit-backdrop-filter: blur(8px) brightness(0.8);
      backdrop-filter: blur(8px) brightness(0.8);
      background-color: #0f0c29;
      // Mozilla
      @supports ((-webkit-backdrop-filter: blur(8px) brightness(0.8)) or (backdrop-filter: blur(8px) brightness(0.8))) {
        background-color: transparent;
      }
    }

    .navbar {
      transition: background-color 300ms;

      .brand {
        height: 2em;
        column-gap: 0.5em;
        font-family: 'Anton', sans-serif;

        & > img {
          height: 100%;
          width: 100%;
        }
  
        & > span {
          white-space: nowrap
        }
      }

      .nav-link {
        display: block;
        padding: 1em 2em;

        &:not(.active):hover {
          filter: brightness(0.8);
          color: white;
          text-decoration: none;
        }

        @media (min-width: 992px) {
          background: linear-gradient(0deg, white, white) bottom center no-repeat;
          transition: background-size 300ms;
          background-size: 0% 3px;
          background-position: center bottom;

          &.active {
            background-size: 100% 3px;
          }
        }
      }

      @media(max-width: 992px) {
        width: 100% !important;
      }
    }
  }
}