.dashboard-container {
  height: 100vh;
  max-height: 100vh;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 1px;

  & > main {
    overflow-y: scroll;
  }
}